<link rel="stylesheet" href="/css/_header.css">
<header>
    <ul style="list-style-type:none;" id="header-ul">
        <% if(locals.user){ %>
            <li id="profile">
                <a href="/users/profile/<%=user._id%>"><%= user.name %></a>
            </li>
            <li id="sign-out">
                <a href="/users/sign-out">SignOut</a>
            </li>
        <%} else {%>
            <li id="sign-in">
                <a href="/users/sign-in">SignIn</a>
            </li>
            <li id="sign-up">
                <a href="/users/sign-up">SignUp</a>
            </li>
            <%}%>
    </ul>
</header>