<h1>sing Up</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="your name" required>
    <input type="text" name="email" placeholder="your email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="password" name="confirm_password" placeholder="confirm Password" required>
    <input type="submit" value="sing Up">
</form>
<p>
    <a href="/users/auth/google">google sign In/sign up</a>
</p>
