header ul{
    display: flex;
    height: 7%;
    width: 100%;
    background-color: blue;
    /* text-align: center; */
    /* padding: 12px; */
    /* justify-content: center; */
}
#header-ul a{
    color: white;
    text-decoration: none;
    padding:20px;
}
#profile {
    margin: 10px;
}
#sign-out {
    margin: 10px;
}
#sign-out a{
    flex-direction: row-reverse;
    padding-left: 1200px;
}
#sign-in{
    margin: 10px;
}
#sign-up{
    margin: 10px;
}
#sign-up a{
    flex-direction: row-reverse;
    padding-left: 1200px;
}