#home-container{
    display: flex;
}
#feed-posts{
    width: 70%;
    padding: 1%;
    text-align: center;
}
#user_friends{
    width: 30%;
    padding: 2%;
    border-left: 2px solid lightgray;
    height: 100%;
}